body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
}

.site-navigation,
.reasons-list,
.features-list,
.footer-social,
.sorting-order {
  list-style-type: none;
  padding: 0;
}

.main-navigation a,
.main-footer a,
.sorting-order a {
  text-decoration: none;
  color: #000000;
}

.hotels-list a {
  text-decoration: none;
  color: #ffffff;
}

.main-navigation {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.8em;
}

.main-description-title,
.main-offer-title,
.found-text {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.2em;
}

.main-description-text,
.main-offer-text {
  font-size: 14px;
  color: #333333;
  font-weight: normal;
  line-height: 1.8em;
}

.main-offer-1 {
  font-size: 30px;
}

.reasons-item h3 {
  font-size: 21px;
  font-weight: bold;
  line-height: 1em;
}

.reasons-item p {
  font-size: 14px;
  font-weight: bold;
  line-height: 1em;
}

.features-list li {
  color: #000000;
  font-weight: bold;
  line-height: 1em;
  background-color: #ffffff;
}

.features-item h3 {
  font-size: 21px;
}

.features-item p {
  font-size: 14px;
}

.button {
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.2em;
  background-color: #766357;
}

.found-text {
  font-size: 21px;
  line-height: 1.2em;
}

.filter-box form {
  color: #ffffff;
  background-color: #766357;
  background-image: url("../img/filter_background.jpg") ;
  background-repeat: no-repeat;
  background-position: center center;
}

.filter-box legend {
  font-weight: bold;
}

.filter-box button[type="submit"] {
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  background: transparent;
}

.sorting h4 {
  font-size: 12px;
  line-height: 1.5em;
}

.sorting-order a {
  font-size: 12px;
  color: #0000004d;
  text-transform: uppercase;
  line-height: 1.5em;
  text-decoration-line: underline;
  text-decoration-color: #81b3d2;
  text-decoration-style: dotted;
}

.current-sorting a {
  font-size: 12px;
  color: #81b3d2;
  text-transform: uppercase;
  line-height: 1.5em;
  text-decoration: none;
}

.hotels-list .button {
  font-size: 14px;
  line-height: 1.5em;
}

.hotels-record h2 {
  font-size: 21px;
  line-height: 1.2em;
}

.hotels-specifications {
  font-size: 14px;
  color: #333333;
  line-height: 1.5em;
}

.hotels-rating {
  font-size: 14px;
  color: #666666;
  line-height: 1.5em;
}

.footer-contacts {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.2em;
}

.footer-copyright {
  font-size: 14px;
  line-height: 1.8em;
}

.item-accent {
  color: #ffffff;
  background-color: #81b3d2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
